body.dark {
  filter: invert(1);
}

dl {
  margin-top: 1.5em;
}

dt {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.68);
  float: left;
  margin-right: 10px;
  padding: 5px;
  width: 130px;
}

dd {
  margin: 2px 0;
  padding: 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

progress.progress:not(:last-child) {
  margin-bottom: 0.5rem;
}

.box p {
  font-size: 0.8rem;
}

.box h3 {
  margin: 1rem 0 0.5rem 0;
}

.box > :nth-child(2) {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0;
  min-height: 1.5rem;
}

.box > :nth-child(2):empty {
  background: no-repeat center/30% url('../images/rolling_block.gif');
}

a {
  color: #286cdb;
}

.content p.with-icon {
  margin-bottom: 0;
}

p.with-icon img {
  height: 1em;
  margin-top: 10px;
  width: auto;
  position: relative;
  top: 2px;
}

span.discrete {
  color: #333;
  font-size: 0.8rem;
}

.modal {
  height: 100vh;
  & img {
    margin: 1rem;
  }
}

.modal-card-body p span {
  font-weight: 700;
}

button {
  color: white;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  background-color: #286cdb;
}
